* {
    box-sizing: border-box;
}

body {
    color: #878787;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0c1f3f;
    font-weight: bold;
}

form {
    width: 500px;
    margin: 40px auto;
}

p {
    text-align: justify;
}

h3 {
    color: #0c1f3f;
    font-weight: bold;
    text-decoration: underline;
}

.nav-header {
    height: 80px;
    background: #c4dfed;
    display: flex;
    padding-bottom: 10px;
    z-index: 2;
    position: fixed;
}

.nav-div {
    margin: auto;
    font-size: 1.2em;
}

.logo-img {
    width: 120px;
    margin-left: 20px;
}

.search-icon {
    margin: 30px;
    max-width: 100px;
}

.nav-bar {
    list-style-type: none;
}

.nav-bar-list {
    display: inline-block;
}

.nav-bar-link {
    color: #878787;
    /*font-size: 24px;*/
    padding: 20px;
}

.nav-bar-link:hover {
    color: #0c1f3f;
    font-weight: bold;
}

.main-header {
    height: 350px;
    background: url("images/btsheader.png") no-repeat center;
    background-size: cover;
}

.search {
    padding: 8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}
.button {
    position:relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.main-header-title {
    text-align: left;
    font-size: 2.5em;
    color: #f0f5f5;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 75px;
    padding-top: 20px; 
    text-shadow: 3px 2px grey;
    margin-top: 0px; 
}

.main-header-intro {
    line-height: 1.5em;
    width: 55%;
    position: relative;
    /*margin-top: 200px;*/
    vertical-align: bottom;
    margin-left: 25%;
    color: white; 
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: bold;
    background-color: #0c1f3f;
    border: solid;
    border-width: 2px 2px 2px; 
    border-radius: 5px;
    border-color: #c4dfed;
    box-shadow: 5px 5px 5px #888888;
}

.intro {
    width: 60%;
    margin: auto;
    text-align: center;
}

.button2 {
    display: block;
    background-color: #9dcc51;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #888888;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: white;
    color: #9dcc51;
    border-style: solid;
    border-color: #9dcc51
}

.box {
    display: flex;
    width: 80%;
    margin: auto;
}

.card {
    width: 90%;
    padding: 20px;
    text-align: left;
    border-style: solid; 
    border: 2px solid;
    border-radius: 5px;
    border-width: 1px; 
    margin: 15px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #f0f5f5;
    float: left;
    /*display: inline-block;*/
}

/*.content {
    /*need to set the max-width to 820px here*/
    display: flex;
    justify-content: space-around;
    margin: auto;
}*/
