body {
	/*background-color: #1e1f21;
*/	color: #878787;
	font-family: sans-serif;
	margin: 0px;
	text-align: center;
}

.nav-header {
	width: 100%;
	background-color: #c4dfed;
    position: fixed;
        z-index: 2;
	/*display: flex;*/
    height: 7em;
}

.nav-bar {
	margin: 30px;
}

.logo-img {
	/*float: left;*/
    height: 95%;
    order: 1;
    position: absolute;
	/*margin-left: calc((100% - 820px)/2)*/
	/*need to set margin-left here; use calc((100% - 820px)/2)*/
}

.main-header {
	/*need to set the max-width to 820px here*/
	height: 350px;
    background-image: url("images/btsheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
	margin-left: auto;
    position:static;
    padding-top: 7em;
}

.main-header-intro {
    position: float;
    align: center;
    
}

.nav-bar {
	color: white;
	/*need to set the font-size to 1.5em here*/
	/*need to set the margin to 30px here*/
	text-decoration: none;
	font-size: 1.5em; 
	margin: 30px;
}

.nav-bar-link:hover {
    color: #0c1f3f;
    font-weight: bold;
}

.nav-div {
    
}

/*.box {
	/*need to set the max-width to 820px here*/
	/*display: flex;
	justify-content: space-around;
	margin: auto;
	max-width: 100%;
}*/

/*.card {
	line-height: 1.2em;
	padding: 20px;
	width: 28%;
    text-align: left;
   	border-style: solid; 
    /*border: 2px solid;*/
    /*border-radius: 5px;
    border-width: 1px; */
    /*margin: 15px;*/
    /*box-shadow: 10px 10px 5px #888888;
    background-color: #f0f5f5;
    display: inline-block;
}*/

p {
	text-align: left;
}

p.introd {
    text-align: center;
}

.intro {
    width: 60%;
    margin: auto;
    text-align: center;
}
